<template>
  <div class="hello">
    <el-select
      filterable
      placeholder="Add new Skill"
      @change="handleSelect"
    >
      <el-option
        v-for="skill in skills"
        :key="skill.name"
        :label="skill.name"
        :value="skill"
      />
    </el-select>
    <table>
      <thead>
        <tr>
          <th>Skill Name</th>
          <th>Base</th>
          <th>Target</th>
          <th>Cost to Raise</th>
        </tr>
      </thead>
      <tbody>
        <Skill
          v-for="skill in trackedSkills"
          :key="skill.name"
          :skill="skill"
        />
      </tbody>
    </table>
  </div>
</template>

<script>
import db from '@/data/db.js'
import Skill from '@/components/Skill.vue'
const R = require('ramda')

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  components: {
    Skill
  },
  data() {
    return {
      trackedSkills: []
    }
  },
  methods: {
    handleSelect(skill) {
      this.trackedSkills.push(skill)
    }
  },
  computed: {
    skills() {
      const raceSkills = db.races[0].skills
      console.log(raceSkills)
      return R.differenceWith(
        R.useWith(R.equals, [R.prop('name'), R.prop('name')]),
        raceSkills,
        this.trackedSkills
      )
    },
    cost() {
      console.log(this.base)
      return db.races[0].skills[0].cost(this.base)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
