<template>
  <tr>
    <td>{{skill.name}}</td>
    <td>
      <el-input-number
        v-model="base"
        controls-position="right"
        @change="handleBaseChange"
        size="mini"
        :min="skill.base"
        :max="skill.max"
      />
    <td>
      <el-input-number
        v-model="target"
        controls-position="right"
        size="mini"
        :min="base"
        :max="skill.max"
      />
    </td>
    <td>{{cost}}</td>
  </tr>
</template>

<script>
export default {
  name: 'Skill',
  props: {
    skill: Object
  },
  methods: {
    handleBaseChange(value) {
      if (value > this.target) this.target = value
    }
  },
  data() {
    return {
      base: this.skill.base,
      target: this.skill.base
    }
  },
  computed: {
    cost() {
      const formulas = {
        STAT: base => {
          return Math.floor(
            Math.pow(base, 3) * this.skill.difficulty / this.skill.divider
          )
        }
      }
      let total = 0
      for (let i = this.base; i < this.target; i++) {
        total += formulas[this.skill.type](i)
      }
      return total
    }
  }
}
</script>

<style>

</style>
